.button {
  background-color: var(--primary-highlight-color);
  color: white;
  font:
    16.5px Lato,
    sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  padding: 2% 2.5%;
  display: inline-block;
} /* Yevhen Pyrih */