.header__nav {
    width: 100%;
    height: auto;

    .header__contact-wrapper {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
    }

    .header__main-wrapper {
        background-color: var(--secondary-background-color);
        display: flex;
        justify-content: center;
    }

    .header__contact,
    .header__main {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px;
        width: 1200px;

        /* @media (min-width: 768px) {
            padding: 8px 5%;
        } */
    }

    .header__contact {
        background-color: var(--primary-color);
        height: 52px;

        width: 1200px;

        @media (max-width: 1023px) {
            display: none;
        }

        .header__contact-info {
            padding: 0 5px;
            margin: 3px 0;

            @media (min-width: 768px) {
                margin: 3px 0;
            }

            .header__contact-item {
                display: inline-block;
                margin: 3px 15px;
                font-style: normal;
                font: 15px Lato, sans-serif;
                font-weight: bold;
                color: var(--main-color);

                .header__contact-link {
                    color: var(--header-link-color);
                    text-decoration: none;
                }
            }
        }

        .header__social {
            padding: 0 5px;
            margin: 3px 2%;

            @media (min-width: 768px) {
                margin: 3px 0;
            }

            .header__social-link {
                display: inline-block;
                margin: 0 10px;

                .outer_bDW,
                .border_2yy {
                    fill: var(--primary-highlight-color);
                }

                &:hover {

                    .outer_bDW,
                    .border_2yy {
                        fill: var(--primary-highlight-color-focus);
                        transition: fill calc(var(--transition-speed)/2) ease-out var(--transition-delay);
                    }
                }
            }
        }
    }

    .header__main {
        display: flex;
        justify-content: space-between;
        background-color: var(--secondary-background-color);
        width: 1200px;
        height: 99.28px;

        .header__logo-image {
            width: 114.4px;
            height: 59.28px;

            transform: translateZ(0);
            /* Forces GPU rendering */
            backface-visibility: hidden;
            /* Smooths out sub-pixel rendering */
            will-change: transform;
            /* Tells the browser to prepare for changes */
        }

        .header__menu-wrapper {
            display: flex;
            justify-content: flex-end;

            .header__menu {
                display: none;
                list-style: none;
                align-items: center;
                gap: 0px 25px;

                padding: 0 10px;
                margin: 30px 25px;

                max-width: 75%;

                @media (min-width: 1024px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                .header__menu-link {
                    font: 15px Lato, sans-serif;
                    font-weight: bold;
                    color: var(--header-link-color);
                    text-decoration: none;
                    padding: 0;
                }
            }
        }
    }

    @media (max-width: 1023px) {
        .navbar-expand-custom .navbar-nav {
            flex-direction: column;
        }

        .navbar-expand-custom .navbar-toggler {
            display: block;
        }

        .navbar-expand-custom .navbar-collapse {
            display: none;
        }

        /* Ensure the menu shows when the toggler is clicked */
        .navbar-expand-custom .navbar-collapse.show {
            display: block;
        }
    }

    /* Desktop view: 1024px and up */
    @media (min-width: 1024px) {
        .navbar-expand-custom {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .navbar-expand-custom .navbar-nav {
            flex-direction: row;
        }

        .navbar-expand-custom .navbar-toggler {
            display: none;
        }

        .navbar-expand-custom .navbar-collapse {
            display: flex;
            flex-basis: auto;
        }
    }
}


.header__burger {
    border: none;
    color: var(--secondary-background-color);
}

.header__nav-mobile {
    height: 0;
    overflow: hidden;
    visibility: hidden;

    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: height var(--transition-speed) ease var(--transition-delay), visibility 0s linear 0s;

    .header__mobile {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 25px 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;


        .header__mobile-link {
            font: 17px Lato, sans-serif;
            font-weight: bold;
            color: var(--header-link-color);
            text-decoration: none;
            padding: 0;
        }
    }

    .header__mobile-contact-info {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header__mobile-contact-item {
            display: inline-block;
            margin: 15px 3px;
            font-style: normal;
            font: 15px Lato, sans-serif;
            font-weight: bold;
            color: var(--main-color);

            .header__mobile-contact-link {
                text-decoration: none;
                color: var(--header-link-color);
            }
        }
    }

    .header__mobile-social {
        padding: 5px 0;

        .header__mobile-social-link {
            display: inline-block;
            margin: 0 10px;

            .outer_bDW,
            .border_2yy {
                fill: var(--primary-highlight-color);
            }

            &:hover {

                .outer_bDW,
                .border_2yy {
                    fill: var(--primary-highlight-color-focus);
                    transition: fill calc(var(--transition-speed)/2) ease-out var(--transition-delay);
                }
            }
        }
    }

}

.nav-mobile__is-active {
    @media(max-width: 1023px) {
        height: calc(100vh - 99.28px);
        visibility: visible;
        transition: height var(--transition-speed) ease var(--transition-delay), visibility 0s linear 0s;
    }
}