@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

:root {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  --font-body: "Lato", sans-serif; /* Боді текст */
  --font-heading: "Oswald", sans-serif; /* Заголовки */
  --background-color: #fcfcfc;
  --secondary-background-color: #ffffff;
  --white-color: #ffffff;
  --primary-color: #f9cee1;
  --main-color: #12462b;
  --header-link-color: #0b462899;
  --primary-highlight-color: #e07faa;
  --secondary-highlight-color: #fef9dc;
  --link-color: #4e72d0;
  --black-border-color: #000000;
  --accent-green: #61a854;
  --accent-red: #d9534f;
  --subtitle-color: #8b9b93;
  --space-sm: 12px;
  --space-lg: 24px;
  --secondary-text-color: #8b9b93;
  --green-border-color: #e2e9e5;
  --line-color: #f2f2f2;
  --coffee-facts-color-frame: #f9cee1;
  --coffee-facts-color-title: #1f4d3c;
  --coffee-facts-color-text: #6b7a78;
  --coffee-facts-color-bg-1: #fffdf3;
  --coffee-facts-color-bg-2: #f8fffc;
  --coffee-facts-color-bg-3: #fff7fa;
  --coffee-facts-divider-1: #eae4be;
  --coffee-facts-divider-2: #12462b;
  --coffee-facts-divider-3: #e07faa;
  --coffee-benefits-title-color: #12462b;
  --coffee-benefits-text-color: #8b9b93;
  --modal-close-btn: #416b55;
  --subscription-package-bg-gold: #fffdf3;
  --subscription-package-bg-premium: #fff7fa;
  --subscription-package-bg-eco: #f8fffc;
  --input-bg-transparent: rgba(255, 255, 255, 0.12);
  --input-border-transparent: rgba(255, 255, 255, 0.25);
  --input-placeholder-color: rgba(255, 255, 255, 0.7);
}


img {
  display: block;
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-body); /* Глобальний шрифт для всього сайту */
  -webkit-font-smoothing: antialiased; /* Робить шрифт чіткішим на Mac */
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
} */
