.header__nav {
    width: 100%;
    height: auto;

    .header__contact,
    .header__main {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px;

        @media (min-width: 768px) {
            padding: 8px 10%;
        }
    }

    .header__contact {
        background-color: var(--primary-color);

        @media (max-width: 1023px) {
            visibility: hidden;
            height: 0;
            padding: 0;
        }

        .header__contact-info {
            padding: 0 5px;

            .header__contact-item {
                display: inline-block;
                margin: 3px 15px;
                font-style: normal;
                font: 15px Lato, sans-serif;
                font-weight: bold;
                color: var(--main-color);

                .header__contact-link {
                    color: var(--header-link-color);
                    text-decoration: none;
                }
            }
        }

        .header__social {
            padding: 0 5px;
            margin: 3px 2%;

            @media (min-width: 768px) {
                margin: 3px 5%;
            }

            .header__social-link {
                display: inline-block;
                margin: 0 10px;

                .outer_bDW,
                .border_2yy {
                    fill: var(--primary-highlight-color);
                }
            }
        }
    }

    .header__main {
        justify-content: space-between;
        background-color: var(--white-color);
        width: 100%;
        height: auto;
        max-height: 1216;

        .header__menu {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            padding: 0 15px;
            margin: 30px 25px;
            gap: 0px 25px;
            visibility: hidden;
            width: 0;
            height: 0;

            @media(min-width: 1024px) {
                visibility: visible;
                width: auto;
                height: auto;
            }

            .header__menu-link {
                font: 15px Lato, sans-serif;
                font-weight: bold;
                color: var(--header-link-color);
                text-decoration: none;
            }
        }
    }
}





/* .header__logo-wrapper {
    margin: 0 10px;
    max-width: 100%;
    height: auto;
    min-width: 20%;
    
    @media (min-width: 768px) {
        margin: 0 25px;
    }
} */