.breadcrumbs__list {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: var(--link-color);

  .breadcrumbs__item {
    list-style: none;
    &:not(:last-child)::after {
      content: ">";
      padding: 0 8px;
    }
  }

  .breadcrumbs__link {
    color: var(--link-color);
    text-decoration: none;
  }
}
