.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: var(--link-color);

  .breadcrumbs__item {
    list-style: none;
    &:not(:last-child)::after {
      content: ">";
      margin: 0 8px;
    }
  }

  .breadcrumbs__link {
    color: var(--link-color);
    text-decoration: none;
  }
}
