.testimonials {
  padding: 60px 0px;

  .testimonials__inner {
    width: min(1400px, 100% - 3rem);
    margin-inline: auto;
    position: relative;

    .testimonials__header {
      margin-bottom: clamp(2rem, 4vw, 3.5rem);
      text-align: center;

      .testimonials__title {
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 700;

        @media (max-width: 991px) {
          font-size: 41px;
        }

        @media (max-width: 767px) {
          font-size: 34px;
        }

        .testimonials__title-p1 {
          color: var(--main-color);
        }

        .testimonials__title-p2 {
          color: var(--primary-highlight-color);
        }

        .testimonials__title-p3 {
          color: var(--main-color);
        }
      }

      .testimonials__subtitle {
        margin: 2rem auto 0;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 19px;
        font-weight: 700;
        color: var(--subtitle-color);
      }
    }

    .testimonials__carousel {
      --testimonials-carousel-side-padding: clamp(2rem, 4vw, 3.5rem);
      padding-inline: var(--testimonials-carousel-side-padding);
      position: relative;
      overflow: visible;

      @media (max-width: 991px) {
        --testimonials-carousel-side-padding: 0px;
      }

      @media (max-width: 767px) {
        --testimonials-carousel-side-padding: 24px;
      }

      .testimonials__carousel-track-container {
        overflow: hidden;
        padding-block: 0.5rem;

        .testimonials__carousel-track {
          list-style: none;
          margin: 0;
          padding: 0;

          display: flex;
          gap: 25px;

          .testimonials__carousel-slide {
            flex: 0 0 calc((100% - 25px) / 2);
            gap: 2rem;
            display: flex;
            justify-content: center;

            @media (max-width: 991px) {
              flex: 0 0 calc((100% - 25px) / 2);
            }

            @media (max-width: 767px) {
              flex: 0 0 100%;
            }

            .testimonials__testimonial {
              width: 100%;
              text-align: center;
              position: relative;

              padding: 20px 15px;
              border-radius: 0;
              background: transparent;

              @media (max-width: 991px) {
                padding-inline: 8px;
              }

              .testimonials__testimonial-icon-1,
              .testimonials__testimonial-icon-2,
              .testimonials__testimonial-icon-3 {
                width: 50px;
                height: 50px;
                margin: 0 auto 0.6rem;
                opacity: 0.95;
              }

              .testimonials__testimonial-icon-1 {
                color: var(--primary-color);
              }

              .testimonials__testimonial-icon-2 {
                color: rgba(18, 70, 43, 0.4);
              }

              .testimonials__testimonial-icon-3 {
                color: rgb(234, 228, 190);
              }

              .testimonials__testimonial-divider-1,
              .testimonials__testimonial-divider-2,
              .testimonials__testimonial-divider-3 {
                display: grid;
                place-items: center;
                margin: 0.2rem 0 1rem;
                opacity: 0.9;

                path {
                  fill: none;
                  stroke: currentColor;
                  stroke-width: 4px;
                }

                svg {
                  display: block;
                }
              }

              .testimonials__testimonial-divider-1 {
                color: var(--primary-color);
              }

              .testimonials__testimonial-divider-2 {
                color: rgba(18, 70, 43, 0.4);
              }

              .testimonials__testimonial-divider-3 {
                color: rgb(234, 228, 190);
              }

              .testimonials__testimonial-title {
                margin: 0;
                font-size: 26px;
                font-family: "Oswald", sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0;
                line-height: 1.5;
                color: var(--main-color);

                @media (max-width: 991px) {
                  font-size: 24px;
                }

                @media (max-width: 767px) {
                  font-size: 22px;
                }
              }

              .testimonials__testimonial-text {
                margin-bottom: 0;
                color: var(--subtitle-color);
                margin-top: 20px;
                margin-inline: auto;
                font-size: 17px;
                font-family: "Lato", sans-serif;
                font-weight: 400;
                font-style: italic;
                line-height: 1.4;
                letter-spacing: normal;
                text-align: center;
              }

              .testimonials__testimonial-text em {
                display: inline;
              }

              .testimonials__testimonial-meta {
                margin-bottom: 0;
                margin-top: 1.2rem;
              }

              .testimonials__testimonial-author,
              .testimonials__testimonial-date {
                font-family: "Lato", sans-serif;
                font-weight: 700;
                font-size: 15px;
                line-height: 1.4;
              }

              .testimonials__testimonial-author {
                color: var(--primary-highlight-color);
              }

              .testimonials__testimonial-date {
                color: var(--main-color);
              }
            }
          }
        }
      }

      .testimonials__button {
        position: absolute;
        top: 50%;
        z-index: 10;

        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;

        border: 0;
        background: transparent;
        padding: 0;

        color: var(--primary-color);
        opacity: 0.85;
        cursor: pointer;

        transition: opacity 200ms ease,
        transform 200ms ease;
        -webkit-tap-highlight-color: transparent;

        @media (max-width: 1199px) {
          width: 32px;
          height: 32px;
          border-radius: 999px;

          background: #f9cee1;

          opacity: 0.85;
          color: var(--main-color);
        }

        @media (max-width: 767px) {
          width: 24px;
          height: 24px;
        }
      }

      .testimonials__button:hover {
        opacity: 1;
      }

      .testimonials__button:disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
      }

      .testimonials__arrow {
        width: 30px;
        height: 30px;
        display: block;

        @media (max-width: 1199px) {
          width: 20px;
          height: 20px;
        }

        @media (max-width: 767px) {
          width: 12px;
          height: 12px;
        }
      }

      .testimonials__button--left .testimonials__arrow {
        transform: rotate(180deg);
      }

      .testimonials__button--left {
        left: var(--testimonials-carousel-side-padding);
        transform: translate(-150%, -50%);

        @media (max-width: 1199px) {
          transform: translate(-50%, -50%);
        }
      }

      .testimonials__button--right {
        right: var(--testimonials-carousel-side-padding);
        transform: translate(150%, -50%);

        @media (max-width: 1199px) {
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
