.coffee-experience__title {
  color: var(--main-color);
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  font-weight: 700;
}

.coffee-experience__title--dot {
  color: var(--main-color);
}

.coffee-experience__accent {
  color: var(--primary-highlight-color);
}

.coffee-experience__lead {
  color: var(--subtitle-color);
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.coffee-experience__text {
  color: var(--subtitle-color);
  font-size: 17px;
  font-weight: 400;
}

.coffee-experience__features__text {
  color: var(--subtitle-color);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.coffee-experience__features__accent {
  color: var(--main-color);
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}

.chess-pattern {
  width: 100%;
  overflow: hidden;
  margin-bottom: 48px;
}

.coffee-experience__inner {
  padding: 24px;
  padding-top: 64px;
  padding-bottom: 0px;
}

.coffee-experience__button {
  background-color: var(--primary-highlight-color);
  color: white;
  font:
    16.5px Lato,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px; /* top/bottom 10px, left/right 20px */
  display: inline-block;

}

.coffee-experience__features {
  list-style: none;
}


.coffee-experience__content {
  background-color: var(--secondary-highlight-color);
  padding: 24px;
}


