/* by Viktoriia Hryvniak */
.coffee-facts__title {
  color: #12462b;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}

.coffee-facts__text {
  color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

