/* by Anna Fedorenko */
.modal-thank-you {
  .modal-thank-you__content {
    background-color: var(--white-color);
    max-width: 344px;
    padding: 43px 32px 43px;
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0 1px 20px 0 rgba(100, 110, 130, 0.16);
    transition: opacity 0.3s ease-out;
    position: relative;
    opacity: 1;

    .modal-thank-you__close {
      position: absolute;
      top: 25px;
      right: 24px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-thank-you__close-icon {
        width: 16px;
        height: 16px;
        color: var(--modal-close-btn);
        position: static;
        padding: 0;
      }
    }

    .modal-thank-you__body {
      margin: 20px 0px 0px 0px;

      .modal-thank-you__body-icon {
        margin: 15px auto 0;
        width: 34px;
        height: 34px;
      }

      .modal-thank-you__title {
        font-family: "Oswald", sans-serif;
        color: var(--subtitle-color);
        font-size: 16px;
        text-align: center;
        word-wrap: break-word;
        font-weight: 800;
        margin-top: 30px;

        @media (max-width: 992px) {
          font-size: inherit;
        }
      }

      .modal-thank-you__subtitle {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        color: var(--subtitle-color);
        text-align: center;
        word-wrap: break-word;
        font-weight: 400;
        margin-top: 15px;
      }

      .modal-thank-you__button {
        font-family: "Oswald", sans-serif;
        color: var(--white-color);
        width: 100%;
        max-width: 210px;
        height: 40px;
        background-color: var(--modal-svg-border-color);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        margin: 40px auto 0;
      }
    }
  }
}
