/* by Viktoriia Hryvniak */

.coffee-facts__title {
  color: var(--main-color);
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}

.coffee-facts__text {
  color: var(--subtitle-color);
  font-family: "Lato", sans-serif;
  font-size: 17px;
}
