.news__title {
  color: #12462b;
}

.news__title_green {
  color: #e07faa;
}

.card__date {
  color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.card__title {
  color: #12462b;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
}

.card__text {
    color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.news__description {
     color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 400;
}
