/* by Viktoriia Hryvniak */

.benefits-section__title {
  color: var(--main-color);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.benefits-section__text {
  color: var(--subtitle-color);
  font-family: "Lato", sans-serif;
  font-size: 14px;
}   