@media (min-width: 768px) {
    .product-category-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        .text-product-category-card {
            max-width: 585px;
        }

        h4 {
            color: #e07faa;
            margin-bottom: 1px;
        }

        h2 {
            color: #12462B;
            font-size: 48px;
            font-family: Oswald, sans-serif;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        strong>span.span-4-lil-dot {
            color: #e07faa;
        }

        .span-4-big-dot {
            color: #e07faa;
            font-size: 15px;
        }

        .u-underline {
            color: #2c6346;
            text-decoration: underline;
            font-size: 15px;
        }

        p {
            margin: 0 0 10px 0;
            color: #2c6346;
            line-height: 1.5;
            font-size: 30px;

        }

        img {
            max-width: 585px;
            max-height: 515px;
        }

        .btn-browse {
            margin-top: 30px;
            padding: 20px 50px;
            background-color: #12462B;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 17.5px;
            font-weight: bold;

        }
    }

    .product-category-card:nth-of-type(2) {
        flex-direction: row-reverse;
    }
}