.modal-thank-you {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  align-items: center;
  justify-content: center;

  .modal-thank-you__content {
    background-color: var(--white-color);
    max-width: 500px;
    width: 90%;
    padding: 60px 40px;
    margin: 0px auto;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(100, 110, 130, 0.2);
    transition: opacity 0.3s ease-out;
    position: relative;
    opacity: 1;

    .modal-thank-you__close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-thank-you__close-icon {
        width: 16px;
        height: 16px;
        color: var(--modal-close-btn);
        position: static;
        padding: 0;
      }
    }

    .modal-thank-you__body {
      margin: 10px 0px 0px 0px;

      .modal-thank-you__body-icon {
        margin: 0 auto;
        width: 50px;
        height: 50px;
      }

      .modal-thank-you__title {
        font-family: "Oswald", sans-serif;
        color: var(--subtitle-color);
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        font-weight: 800;
        margin-top: 30px;

        @media (max-width: 992px) {
          font-size: inherit;
        }
      }

      .modal-thank-you__subtitle {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        color: var(--subtitle-color);
        text-align: center;
        word-wrap: break-word;
        font-weight: 400;
        margin-top: 15px;
      }

      .modal-thank-you__button {
        font-family: "Oswald", sans-serif;
        color: var(--white-color);
        width: 100%;
        max-width: 250px;
        height: 50px;
        font-size: 14px;
        background-color: var(--coffee-facts-color-frame);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-weight: 700;
        margin: 40px auto 0;
      }
    }
  }
}