/* by Anna Fedorenko */
@import url(global.css);

.modal-thank-you__title,
.modal-thank-you__button {
  font-family: "Oswald", sans-serif;
}

.modal-thank-you__subtitle {
  font-family: "Lato", sans-serif;
}
