/* by Viktoriia Hryvniak */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

.coffee-facts__title {
  color: #12462b;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}

.coffee-facts__text {
  color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}
