/* by Viktoriia Hryvniak */
.chess-pattern__image {
  width: 100%;
  height: 32px;
  object-fit: cover;
}

.benefits-section__icon {
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
}
.benefits-section__title {
  color: #12462b;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.benefits-section__text {
  color: #8b9b93;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}

