.coffee-experience__title {
  color: var(--main-color);
}

.coffee-experience__accent {
  color: var(--primary-highlight-color);
}

.coffee-experience__lead {
  color: var(--subtitle-color);
}

.coffee-experience__text {
  color: var(--subtitle-color);
}

.coffee-experience__features__text {
  color: var(--subtitle-color);
}

.coffee-experience__features__accent {
  color: var(--main-color);
}

.chess-pattern {
  width: 100%;
  overflow: hidden;
  margin-bottom: 48px;
}

.coffee-experience__inner {
  padding: 24px;
  padding-top: 64px;
  padding-bottom: 0px;
}

.coffee-experience__button {
  background-color: var(--primary-highlight-color);
  color: white;
  font:
    16.5px Lato,
    sans-serif;
  font-weight: 650;
  text-decoration: none;
  border-radius: 10px;
  padding: 2% 2.5%;
  display: inline-block;

}

