.testimonials {
    padding: 60px 0px;

    .testimonials__inner {
        width: min(1400px, 100% - 3rem);
        margin-inline: auto;
        position: relative;

        .testimonials__header {
            margin-bottom: clamp(2rem, 4vw, 3.5rem);
            text-align: center;

            .testimonials__title {
                text-transform: uppercase;
                font-family: "Oswald", sans-serif;
                font-size: 3rem;
                line-height: 0.95;
                letter-spacing: 0.04em;
                font-weight: 700;

                @media (max-width: 320px) {
                    font-size: 34px;
                }

                .testimonials__title-p1 {
                    color: var(--main-color);
                }

                .testimonials__title-p2 {
                    color: var(--primary-highlight-color);
                }

                .testimonials__title-p3 {
                    color: var(--main-color);
                }
            }

            .testimonials__subtitle {
                margin: 2rem auto 0;
                text-align: center;
                font-family: "Lato", sans-serif;
                font-size: 19px;
                font-weight: 500;
                color: var(--subtitle-color);
            }
        }

        .testimonials__carousel {
            padding-inline: clamp(2.5rem, 5vw, 5.5rem);
            position: relative;

            .testimonials__carousel-track-container {
                overflow: hidden;
                padding-block: 0.5rem;

                .testimonials__carousel-track {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    display: flex;
                    gap: clamp(1rem, 2vw, 1rem);

                    .testimonials__carousel-slide {
                        flex: 0 0 50%;
                        gap: 2rem;
                        display: flex;
                        justify-content: center;

                        @media (max-width: 425px) {
                            flex: 0 0 100%;
                        }

                        .testimonials__testimonial {
                            width: 100%;
                            text-align: center;
                            position: relative;

                            padding: 0 15px;
                            border-radius: 18px;
                            background: rgba(255, 255, 255, 0.35);
                            backdrop-filter: blur(2px);

                            .testimonials__testimonial-icon-1,
                            .testimonials__testimonial-icon-2,
                            .testimonials__testimonial-icon-3 {
                                width: 50px;
                                height: 50px;
                                margin: 0 auto 0.6rem;
                                opacity: 0.95;
                            }

                            .testimonials__testimonial-icon-1 {
                                color: var(--primary-color);
                            }

                            .testimonials__testimonial-icon-2 {
                                color: rgba(18, 70, 43, 0.4);
                            }

                            .testimonials__testimonial-icon-3 {
                                color: rgb(234, 228, 190);
                            }

                            .testimonials__testimonial-divider-1 path,
                            .testimonials__testimonial-divider-2 path,
                            .testimonials__testimonial-divider-3 path {
                                fill: none;
                                stroke: currentColor;
                                stroke-width: 4px;
                            }

                            .testimonials__testimonial-divider-1,
                            .testimonials__testimonial-divider-2,
                            .testimonials__testimonial-divider-3 {
                                display: grid;
                                place-items: center;
                                margin: 0.2rem 0 1rem;
                                opacity: 0.9;
                            }

                            .testimonials__testimonial-divider-1 svg,
                            .testimonials__testimonial-divider-2 svg,
                            .testimonials__testimonial-divider-3 svg {
                                display: block;
                            }

                            .testimonials__testimonial-divider-1 {
                                color: var(--primary-color);
                            }

                            .testimonials__testimonial-divider-2 {
                                color: rgba(18, 70, 43, 0.4);
                            }

                            .testimonials__testimonial-divider-3 {
                                color: rgb(234, 228, 190);
                            }

                            .testimonials__testimonial-title {
                                display: block;
                                font-size: 1.6rem;
                                font-family: "Oswald", sans-serif;
                                font-weight: 600;
                                text-transform: uppercase;
                                letter-spacing: normal;
                                vertical-align: baseline;
                                color: var(--main-color);

                                @media (max-width: 320px) {
                                    font-size: 22px;
                                }
                            }

                            .testimonials__testimonial-text {
                                display: block;
                                color: var(--subtitle-color);
                                margin-top: 20px;
                                /*max-width: min(58ch, 100%);*/
                                margin-inline: auto;
                                font-size: 1.1rem;
                                font-family: "Lato", sans-serif;
                                font-weight: 300;
                                font-style: italic;
                                line-height: 1.7;
                                letter-spacing: normal;
                                text-align: center;

                            }

                            .testimonials__testimonial-text em {
                                display: inline;
                            }

                            .testimonials__testimonial-author,
                            .testimonials__testimonial-date {
                                display: inline-block;
                                margin-top: 1.2rem;
                                font-family: "Lato", sans-serif;
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 1.7;
                            }

                            .testimonials__testimonial-author {
                                color: var(--primary-highlight-color);
                            }

                            .testimonials__testimonial-date {
                                color: var(--main-color);
                            }
                        }
                    }
                }
            }

            .testimonials__button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;

                width: 38px;
                height: 38px;
                display: grid;
                place-items: center;

                border: 0;
                background: transparent;
                padding: 0;

                color: #e6c9d6;
                opacity: 0.65;
                cursor: pointer;

                transition: opacity 200ms ease,
                transform 200ms ease;
                -webkit-tap-highlight-color: transparent;

                @media (max-width: 1024px) {
                    width: 32px;
                    height: 32px;
                    border-radius: 999px;

                    background: rgba(230, 201, 214, 0.45);
                    backdrop-filter: blur(2px);

                    opacity: 0.8;
                    color: #12462b;
                }
                @media (max-width: 320px) {
                    width: 24px;
                    height: 24px;
                    border-radius: 999px;

                    background: rgba(230, 201, 214, 0.45);
                    backdrop-filter: blur(2px);

                    opacity: 0.8;
                    color: #12462b;
                }
            }

            .testimonials__arrow {
                width: 30px;
                height: 30px;
                display: block;

                @media (max-width: 320px) {
                    width: 12px;
                    height: 12px;
                }
            }

            .testimonials__button--left .testimonials__arrow {
                transform: rotate(180deg);
            }

            .testimonials__button--left {
                left: 0.75rem;
            }

            .testimonials__button--right {
                right: 0.75rem;
            }
        }
    }
}
