/* CSS Order page by S.Rykun */
@import "global.css";
@import "global.header-nav.partial.css";
@import "global.footer.partial.css";
@import "global.breadcrumbs.partial.css";
@import "product.product-gallery.partial.css";
@import "product.product-info.partial.css";
@import "product.product-tabs.partial.css";


.product-details__content {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 12px;
  }
}