/* CSS Product page by S.Rykun */
@import "global.css";
@import "global.header-nav.partial.css";
@import "global.footer.partial.css";
@import "global.breadcrumbs.partial.css";
@import "product.product-gallery.partial.css";
@import "product.product-info.partial.css";
@import "product.product-tabs.partial.css";
@import "product.page-content.partial.css";
@import "index.products.partial.css";