<!-- Stanislav Rykun -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Name</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <main class="product-details">
      <nav class="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Store homepage</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link breadcrumbs__link--current" href="#"
              >Product Name</a
            >
          </li>
        </ol>
      </nav>
      <div class="product-details__content">
        <section class="product-gallery product-details__gallery">
          <img
            src="img/ethiopian-sunrise-pack.jpg"
            width="400"
            height="400"
            alt="Main product image"
            class="product-gallery__main-image"
          />
          <img
            class="product-gallery__thumbnail product-gallery__thumbnail--selected"
            src="img/ethiopian-sunrise-pack.jpg"
            alt="Product thumbnail 1"
            width="100"
            height="100"
          />
          <button
            type="button"
            class="product-gallery__nav-button product-gallery__nav-button--prev"
            aria-label="Previous image"
          >
            <svg
              width="14"
              height="26"
              viewBox="0 0 14 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.5 2L1.5 13L12.5 24"
                stroke="#464C5C"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="square"
              ></path>
            </svg>
          </button>
          <button
            type="button"
            class="product-gallery__nav-button product-gallery__nav-button--next"
            aria-label="Next image"
          >
            <svg
              width="14"
              height="26"
              viewBox="0 0 14 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.5 24L12.5 13L1.5 2"
                stroke="#464C5C"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="square"
              ></path>
            </svg>
          </button>
        </section>
        <!-- Mixing gallery classes since I assume the gallery might be reused -->
        <section class="product-details__product-info">
          <strong
            class="product-details__availability product-details__availability--in-stock"
            >In stock</strong
          >
          <h1 class="product-details__title">ETHIOPIAN SUNRISE (021)</h1>
          <span class="product-details__product-code">Product code 37</span>
          <span class="product-details__price">18,99 USD</span>
          <div class="divider product-details__divider"></div>
          <form class="product-details__actions">
            <div class="product-details__quantity">
              <label for="product-qty" class="product-details__quantity-label"
                >Quantity:</label
              >
              <input
                type="number"
                id="product-qty"
                class="product-details__quantity-input"
                value="1"
                min="1"
                max="99"
              />
            </div>
            <button type="submit" class="product-details__submit-btn">
              Add to cart
            </button>
            <section class="t">
              <nav></nav>
            </section>
          </form>
        </section>
      </div>
      <!-- <section>You might also like...HTMX query</section> -->
    </main>
    <!-- <footer>HTMX query</footer> -->
  </body>
</html>
